<section class="section artist-section" id="artists">
  <div class="container artists-container">
    <h2 class="artists-main-title">Artists</h2>
    <p class="artist-secondary-title">Explore Your New Favorite Artists</p>
    <ul class="artists-list js-artists-list"></ul>
    <span class="artist-loader loader"></span>
    <button type="button" class="artists-load-more-btn js-load-more-btn">
      Load More
      <svg class="load-more-svg" width="14" height="14" fill="currentColor">
        <use href="/img/sprite.svg#icon-loadmore"></use>
      </svg>
    </button>
  </div>
</section>
