html{
  scroll-behavior: smooth;
}

body {
  color: var(--color-scheme-1-text);
  background: var(--color-scheme-1-background); ;
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;

}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
